default: &default
  adapter: postgresql
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: dev_database

test:
  <<: *default
  database: test_database

production:
  <<: *default
  database: prod_database
